html {
	font-family: Roboto, sans-serif;
	background: #F5F5F5;
}

.header {
	color: white;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	background-color: #1F2937;
}

.header-logo {
	padding-left: 150px;
	font-weight: bold;
	font-size: 24px;
	color: #F9FAF8;
}

.top-links {
	margin-right: 140px;
	font-size: 18px;
	color: #E5E7EB;
}

.top-links a {
	margin-right: 10px;
}

.first-body {
	display: flex;
	background-color: #1F2937;
	color: white;
	padding: 150px;
	padding-bottom: 100px;
	padding-top: 50px;
}

.hero-main-text {
	display: flex;
	flex-wrap: wrap;
	font-size: 48px;
	font-weight: 900;
	color: #F9FAF8;
	width: 350px;
	height: 150px;
}

.hero-secondary-text {
	opacity: 0.7;
	width: 300px;
}

.right-side {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: grey;
	padding: 80px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
}

.second-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
}

.second-body-main-text {
	font-size: 36px;
	font-weight: 900;
	color: #1F2937;
}

.second-body-blocks {
	display: flex;
	text-align: center;
}

.block-one,
.block-two,
.block-three,
.block-four {
	width: 100px;
	padding: 50px;
}

.block-one-block,
.block-two-block,
.block-three-block,
.block-four-block {
	padding: 50px;
	border: solid;
	border-color: blue;
}

.third-body {
	background: grey;
	padding: 100px;
}

.quote {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}

figcaption {
	align-self: flex-end;
}

.fourth-body {
	padding: 50px;
}

.fourth-body-block {
	background: #3882F6;
	display: flex;
	justify-content: space-between;
	padding: 20px 50px;
	border-radius: 8px;
	margin: 90px 50px;
}

.fourth-body-block button {
	width: 90px;
	height: 30px;
	align-self: center;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1F2937;
	color: white;
	padding: 30px;
}
	
button {
	background: #3882F6;
	border: #3882F6;
	padding: 5px 15px;
	border-radius: 3px;
	color: #E5E7EB;
}
